.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: background-color 0.5s;
}

.counters {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.question-counter {
  text-align: center; /* Center the question counter text */
  margin-top: 10px; /* Space above the counter */
  font-size: 1.2em; /* Larger text for visibility */
  font-weight: bold; /* Make it bold */
}

.card-number {
  margin-top: 20px;
}

.results {
  text-align: center;
}

.flashcard {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  user-select: none; /* Prevent text selection */
  cursor: pointer; /* Indicates the card is interactive */
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  padding: 20px;
  box-sizing: border-box;
}

.front {
  background-color: #fff;
  color: #000;
}

.back {
  background-color: #000;
  color: #000;
  transform: rotateY(180deg);
}

h1 {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

p {
  margin: 5px 0;
  font-size: 12px;
  text-align: left;
}
