/* Estilos generales para la tarjeta */
.flashcard {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 520px;
  height: 520px;
  margin: 20px auto;
  padding: 15px; /* Añadido aquí para aplicar a todos los elementos internos de la tarjeta */
  background-color: #fff; /* Utiliza valores hexadecimales por consistencia */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  user-select: none; /* Evita la selección de texto */
}

/* Estilos para el contenedor giratorio */
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Estilo para cuando la tarjeta está girada */
.card.flipped {
  transform: rotateY(180deg);
}

/* Estilos comunes para el frente y el dorso */
.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  box-sizing: border-box;
}

.front {
  background-color: #fff; /* Color de fondo para la parte frontal */
  color: black;
}

.back {
  background-color: #f8f8f8; /* Color de fondo para la parte posterior */
  color: darkslategray;
  transform: rotateY(180deg);
}

/* Estilos para los textos y contadores */
h1 {
  margin: 0;
  text-align: center; /* Asegura que el título esté centrado */
}
h2 {
  margin: 0;
  text-align: center; /* Asegura que el título esté centrado */
}

p {
  margin: 5px 0;
  font-size: 1.em;
}

.failed {
  color: red;
}

.passed {
  color: green;
}

.question-counter, .card-number {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.8em;
  color: #666;
}

.card-number {
  top: 10px; /* Mueve el número de la tarjeta arriba */
  right: 10px; /* Alinea el número de la tarjeta a la derecha */
}

.question {
  font-size: 1.1em;
  max-width: 100%;
  max-height: 100%;
  font-weight: bold;
  text-align: center; /* Asegura que el título esté centrado */
}

.red-dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
}
